.team-card {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin: 0 15px;
}
.team-icon img {
  width: 70px;
  object-fit: contain;
}
.team-name {
  margin: 0;
  font-family: Arial;
  font-weight: 600;
}
